<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
        }
        
        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>

<body>
    <div style="text-align: center;">
        <div style="vertical-align:top;margin-left: 40px;word-wrap: break-word;">
            <p style="line-height: 15px;font-size: 23px;font-weight: bold;">Laporan Penjualan dan Laba Royal Orchid Syariah
            </p>
            <p style="line-height: 10px;font-size: 18px;">Project Muara sari</p>
            <p style="line-height: 10px;font-size: 18px;">Bulan Mei 2020</p>
            <p style="line-height: 10px;font-size: 15px;">Dicetak : 5/2/2020</p>
        </div>
    </div>

    <table>
        <tr>
            <td colspan="2">Penjualan</td>
            <td colspan="1">100000</td>
        </tr>
        <tr>
            <td colspan="2">Harga Pokok Penjualan</td>
            <td colspan="1">100000</td>
        </tr>
        <tr>
            <td colspan="2">Laba Bruto</td>
            <td colspan="1">100000</td>
        </tr>
        <tr>
            <th colspan="3" style="text-align: center;">Biaya Operasional</th>
        </tr>
        <tr>
            <td colspan="2">Biaya Operasional Kantor</td>
            <td colspan="1">100000</td>
        </tr>
        <tr>
            <td colspan="2">Biaya Promosi & Marketing</td>
            <td colspan="1">100000</td>
        </tr>
        <tr>
            <td colspan="2">Biaya Sewa Kantor</td>
            <td colspan="1">100000</td>
        </tr>
        <tr>
            <td colspan="2">Biaya Kurir</td>
            <td colspan="1">100000</td>
        </tr>
        <tr>
            <td colspan="2">Biaya Listrik</td>
            <td colspan="1">100000</td>
        </tr>
        <tr>
            <td colspan="2">Biaya Gaji Karyawan</td>
            <td colspan="1">100000</td>
        </tr>
        <tr>
            <td colspan="2">Biaya Perijinan</td>
            <td colspan="1">100000</td>
        </tr>
        <tr>
            <td colspan="2">Biaya Tukang</td>
            <td colspan="1">100000</td>
        </tr>
        <tr>
            <td colspan="2">Biaya Sewa Mobil</td>
            <td colspan="1">100000</td>
        </tr>
        <tr>
            <td colspan="2">Biaya Bensin, Toll dan Parkir</td>
            <td colspan="1">100000</td>
        </tr>
        <tr>
            <td colspan="2">Biaya Admin Bank</td>
            <td colspan="1">100000</td>
        </tr>
        <tr>
            <td colspan="2">Pendapatan Bunga</td>
            <td colspan="1">100000</td>
        </tr>
        <tr>
            <td colspan="2">Biaya Entertaiment</td>
            <td colspan="1">100000</td>
        </tr>
        <tr>
            <td colspan="2">Biaya Donasi & Sumbangan/td>
                <td colspan="1">100000</td>
        </tr>
        <tr>
            <td colspan="2">Biaya Pematagan Lahan & Pembangunan</td>
            <td colspan="1">100000</td>
        </tr>
        <tr>
            <td colspan="2">Biaya Pembebanan Per Unit</td>
            <td colspan="1">100000</td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
        <tr>
            <td colspan="2">Laba Kotor Sebelum Pajak</td>
            <td colspan="1">100000</td>
        </tr>
        <tr>
            <td colspan="2">Pajak Penghasilan</td>
            <td colspan="1">100000</td>
        </tr>
        <tr>
            <td colspan="2">Laba Setelah Pajak</td>
            <td colspan="1">100000</td>
        </tr>
    </table>
</body>

</html>